<form>
        <div class="form-row">
          <div class="col-md-12 mb-3">
            <label for="validationDefaultUsername">Username</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend2">@</span>
              </div>
              <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Username" aria-describedby="inputGroupPrepend2" required>
            </div>
          </div>
        </div>
          <div class="form-row">
          <div class="col-md-12 mb-3">
                <label for="validationDefault01">Password</label>
                <input type="password" class="form-control" id="validationDefault01" placeholder="Password" required>
              </div>
        </div>
        <div class="form-group">
        </div>
        <button class="btn btn-primary" type="submit">Login</button>
</form>